{%load static%}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ShortHacks</title>
<link href="{%static 'css/base.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid header" style="padding-left: 0;padding-right: 0;">
    <nav class="navbar-expand-md  navbar-dark navbar">
    <!-- Brand -->
        <a class="navbar-brand" href="index.html">
            <!--<img src="" class="h-logo__alt-image h-logo__alt-image_h logo-alt-image style-36-image style-local-37-h5-image" alt="Logo" style="width:100px;">-->
            <h2>ShortHacks</h2>
        </a>
        <div class="menu-bar" style="float:right;position: absolute;right: 0;margin-right: 70px;">
            <div class="tabs dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><a class="nav_link" href="">ROYAL ENFIELD</a></div>
                    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="royal-alloy_wheels.html">Alloy Wheels</a>
                        <a class="dropdown-item" href="royal-backrest.html">Back Rest</a>
                        <a class="dropdown-item" href="royal-silencer.html">Silencer</a>
                        <a class="dropdown-item" href="royal-handle_bar.html">Handle Bar</a>
                        <a class="dropdown-item" href="royal-seat.html">Seat</a>
                        <a class="dropdown-item" href="royal-leg_guard.html">Leg Guard</a>
                    </div>-->
                </div>
                <div class="tabs dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><a class="nav_link" href="">JAWA</a></div>
                    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="jawa-radiator_cover.html">Radiator Cover</a>
                        <a class="dropdown-item" href="jawa-leg_guard.html">Leg Guard</a>
                        <a class="dropdown-item" href="jawa-backrest.html">Back Rest</a>
                    </div>-->
            </div>
            <div class="tabs"><a class="nav_link" href="privacy_policy.html">PRIVACY POLICY</a></div>
        </div>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" onclick="openNav()" >
            <span class="navbar-toggler-icon " ></span>
        </button>
    </nav>
</div>
</div>

<div class="container-fluid">
    <div class="row">
    <div id="mySidenav" class="sidenav">
        <span><a href="#" style="display: inline;"><h3 style="display: inline;">ShortHacks</h3></a><a href="javascript:void(0)" class="closebtn"  onclick="closeNav()">&times;</a></span>
        <br>
        <a class="navs side_menu_tabs1" style="color: white;margin-top:40px ;">Royal Enfield<span style="float: right;" ><i class='fa fa-angle-right'></i></span></a>
        <a href="royal-alloy_wheels.html" style="color:white;display: none;" class="side_menu_options1">Alloy Wheels</a>
        <a href="royal-backrest.html" style="color:white;display: none;" class="side_menu_options1">Back Rest</a>
        <a href="royal-silencer.html" style="color:white;display: none;" class="side_menu_options1">Silencer</a>
        <a href="royal-handle_bar.html" style="color:white;display: none;" class="side_menu_options1">Handle Bar</a>
        <a href="royal-seat.html" style="color:white;display: none;" class="side_menu_options1">Seat</a>
        <a href="royal-leg_guard.html" style="color:white;display: none;" class="side_menu_options1">Leg Guard</a>
        <a class="navs side_menu_tabs2" style="color: white;">Jawa<span style="float: right;" ><i class='fa fa-angle-right'></i></span></a>
        <a href="jawa-radiator_cover.html" style="color:white;display: none;" class="side_menu_options2">Radiator Cover</a>
        <a href="jawa-leg_guard.html" style="color:white;display: none;" class="side_menu_options2">Leg Guard</a>
        <a href="jawa-backrest.html" style="color:white;display: none;" class="side_menu_options2">Back Rest</a>
        <a href="privacy_policy.html" class="side_menu_tabs3">Privacy Policy</a>
    </div>
    
    <!-- Use any element to open the sidenav -->
    
    </div>
</div>  
<div style="margin-top: 100px;">ifvndsvnskvnskvkjlsnvkjsnkvnknv;ns;vns:V</div>
{%block content%}
{%endblock content%}
<div class="container-fluid footer" id="footer" style="padding-right: 0;padding-left: 0;">
    <!--<section style="height:80px;margin: 0;"></section>-->
  <div class="row" style="text-align:center;">
  </div>
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row" >
          <div class="col-md-3 footer-brand animated fadeInLeft">
            <a class="navbar-brand" href="index.html">
              <!--<img src="" class="h-logo__alt-image h-logo__alt-image_h logo-alt-image style-36-image style-local-37-h5-image" alt="Logo" style="width:100px;">-->
              <h2>ShortHacks</h2>
            </a>
            <br>
            <br>
                <p>Trusted Brand for Accessories of Royal Enfield & Jawa.</p>
                <p>©2020 Copyright by <a href="https://bsautoaccessories.com">BS Auto Accessories</a> | Developed by <a href="https://hspmsolutions.com">HSPM Solutions LLP.</a> </p>
            </div>
          <div class="col-md-4 footer-nav animated fadeInUp">
              <h4>Menu —</h4>
              <div class="col-md-6">
                </div>
              <div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
          <div class="col-md-2 footer-social animated fadeInDown">
              <h4>Follow Us</h4>
              <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Instagram</a></li>
                </ul>
            </div>
          <div class="col-md-3 footer-ns animated fadeInRight">
              <h4>Enter your email to receive updates....</h4>
                <p></p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Your Email">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="fa fa-envelope" aria-hidden="true"></i>
                        </button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>
  </div>
  
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 <script src="{%static 'js/base.js' %}"></script> 

</body>
</html>
